/* product.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #747c74; /* Fond général */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2e2e2e; /* Fond sombre centré */
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ebf4fb;
    margin-bottom: 20px;
    font-size: 32px;
}

p {
    font-size: 18px;
    color: #ebf4fb; /* Texte clair */
    margin: 10px 0;
    text-align: center;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.product-card {
    background: #2d343e; /* Fond plus clair pour les cartes */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.product-card .price {
    font-weight: bold;
    color: #b9cedb;
    font-size: 18px;
    margin: 10px 0;
}

.product-card button {
    background-color: #4cb4f3;
    border: none;
    cursor: pointer;
    color: #ebf4fb;
    padding: 15px;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

.product-card button:hover {
    background-color: #3498db;
}

/* Bouton retour */
a.return-button {
    background-color: #4cb4f3; /* Fond bleu comme sur les autres pages */
    color: #ebf4fb; /* Texte clair */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.2s;
}

a.return-button:hover {
    background-color: #3498db; /* Changement de couleur au survol */
}

/* Boutons */
button {
    text-decoration: none;
    color: #ebf4fb;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s;
    width: 30%;  /* Garder la largeur actuelle */
}


button {
    background-color: #4cb4f3;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cb4f3;
}
