/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #747c74;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #ebf4fb;
    margin-bottom: 20px;
}

form {
    background: #2d343e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

input {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #4cb4f3;
}

button {
    background-color: #4cb4f3;
    color: #ebf4fb;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #38a1e6;
}

a {
    text-decoration: none;
    color: #4cb4f3;
    text-align: center;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
